*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.app{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    width: 300px;
    padding: 2rem 1rem;
    background-color: black;
}

.sidebar h2{
    color: white;
    font-size: 0.85rem;
}

.sidebar a{
    font-size: 0.85rem;
}

.menu-item{
    display: flex;
    padding: 1em 0;
    color: white;
    text-decoration: none;
    transition: 0.3s ease-out;
}

.menu-item:hover,
.menu-item.is-active{
    color: gray;
}

.content{
    flex-grow: 1;
    padding: 20px;
}

.content h1{
    margin-bottom: 1rem;
}

.hamburger-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu-toggle{
    background-color: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.hamburger{
    cursor: pointer;
    position: relative;
    top: 17%;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px auto;
    transition: all 0.3s ease;
}

.menu-toggle.is-active .bar:nth-child(2){
    opacity: 0;
}

.menu-toggle.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.menu-toggle.is-active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

@media(max-width:1024px){
    .menu-toggle{
        display: block;
    }

    .sidebar{
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        width: 300px;
        transition: 0.2s linear;
    }

    .sidebar.is-active{
        left: 0;
    }
}
